# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv

# Notebooks
.ipynb_checkpoints

# Data directories
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/models/*
!data/models/.gitkeep

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

data\raw
2-TITULOS-15-DE-NOVIEMBRE-2024-1-30.pdf
2-TITULOS-15-DE-NOVIEMBRE-2024.pdf
notebooks/data/models/checkpoints/model_01.h5/
notebooks\data\models\checkpoints\model_01.h5\
notebooks\data\models\checkpoints\model_01.h5
C:\Users\Steev\Documents\AiranFranco\tributai  IA\document_classifier\notebooks\data\models\checkpoints\model_01.h5
model_01.h5

notebooks\logs
notebooks\data

C:\Users\Steev\Documents\AiranFranco\tributai  IA\document_classifier\notebooks\logs\20250129-193802\train\events.out.tfevents.1738197483.DESKTOP-KEE4MMN.18688.0.v2
notebooks\logs\20250129-193802\validation\events.out.tfevents.1738197488.DESKTOP-KEE4MMN.18688.1.v2
notebooks/logs/20250129-193802/train/events.out.tfevents.1738197483.DESKTOP-KEE4MMN.18688.0.v2
notebooks/logs/20250129-193802/validation/events.out.tfevents.1738197488.DESKTOP-KEE4MMN.18688.1.v2
data/labels.json
notebooks/data/processed/processed_pages.parquet/_SUCCESS
notebooks/data/processed/processed_pages.parquet/
notebooks/nuevos/data/models/logistic_regression_model/data/
notebooks/nuevos/data/models/logistic_regression_model/metadata/
notebooks/nuevos/data/processed/
notebooks/nuevos/data/labels.json
notebooks/nuevos/data/pdf_pages/
